@model DATA_DuAn.DTO.DanhMucXeDto.DanhMucXeDTO

@{
    ViewData["Title"] = "Chi tiết xe";
}

<h1>@ViewData["Title"]</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.Image" alt="Hình ảnh xe" width="100px"/>
    <div class="card-body">
        <h5 class="card-title">Chi tiết xe</h5>
        <p class="card-text"><strong>Mã xe: </strong>@Model.MaXe</p>
        <p class="card-text"><strong>Biển số: </strong>@Model.BienSo</p>
        <p class="card-text"><strong>Hãng xe: </strong>@Model.HangXe</p>
        <p class="card-text"><strong>Màu sắc: </strong>@Model.MauSac</p>
        <p class="card-text"><strong>Giá thuê: </strong>@Model.GiaThue</p>
        <p class="card-text"><strong>Trạng thái: </strong>@Model.TrangThai</p>
        <a href="@Url.Action("Index")" class="btn btn-primary">Quay lại danh sách</a>
    </div>
</div>